<p><strong>Please contact us on 0161 797 4000 to speak to an advisor about your case</strong></p>
<p>Thank you for using our instant conveyancing quote system. Unfortunately we are currently unable to give instant quotes for properties in excess of £600,000.</p>

<p>Thank you.</p>