<div class="footer">
	<p>
		Latimer Lee LLP is a Limited Liability Partnership registered in England and Wales (registered number OC325883) which is regulated by by the Solicitor Regulation Authority. A list of the names of our members is
		available for inspection at our registered office visit www.latimerlee.com for more details.
	</p>
	<h3>TERMS AND CONDITIONS</h3>
	<p>
		Please note that this Legal Cost Estimate must be read in conjunction with your Conveyancer's terms and conditions of instruction. Your Conveyancer will endeavour to keep you informed of potential additional
		charges and disbursements as they arise. W will endeavour to keep the legal costs associated with your transaction to a minimum at all times. The following narrative contains information in relation to potential
		additional costs and disbursements that may be levied by your Conveyancer throughout the course of your transaction.
	</p>
	<h3>Legal Costs Estimate - Additional Work</h3>
	<p>
		This Legal Cost Estimate is valid for 30 days. In the event that the standard VAT rate is increased, this element of the Legal Cost Estimate will be amended accordingly. Unless specified otherwise this Legal Cost
		Estimate has been provided on the assumption that the property we are conveying relates to registered freehold property. Leasehold and unregistered transactions are charged at different rates. In the event that
		we have issued a Legal Cost Estimate for a freehold registered transaction that subsequently transpires to be leasehold or unregistered, we reserve the right to add our standard leasehold/unregistered
		supplement in this respect.
	</p>
	<p>
		Please note that this Legal Cost Estimate is an estimate of the legal charges that will be levied in relation to your property transaction. Your Conveyancer will attempt to keep the legal costs and disbursements
		associated with your transaction to a minimum at all times. In the event that additional work is required in relation to your transaction, which is outside of the scope of the Legal Cost Estimate provided, your
		Conveyancer will endeavour to discuss the cost of this additional work with you at the earliest opportunity. Please refer to the Legal Cost Information contained within the Transaction Guides provided by your
		Conveyancer which form an integral part of this Legal Cost Estimate and explain the terms and conditions of instruction. Should you have any concerns regarding potential additional legal fees, please do not
		hesitate to contact us.
	</p>
</div>