<p>Thank you for instructing us.</p>
<p>Somebody will in be in touch with you shortly to discuss your case</p>
<p>Please find attached, a copy of your quote</p>

<p>regards,<br />Conveyancing Quote Now</p>


<hr />
{% include "calc-email-footer.twig" %}