
.cqn-quote-form{

	*{
		box-sizing: border-box;
	}


	select{
		line-height: 2;
		font-size: 1.25em;
		
	}
	label{
		padding: .4em 0 .2em 0;
		display: block;
		clear: both;
		@include bp(  $medium ){
		clear: left;
			float: left;

		}
	}

	input{
		width: 100%;
		padding: .5em; 
		@include bp(  $medium ){
			float: right;
			width: auto;
		}
	}
	.form-row{
		clear: both;
		padding: .25em .5em;
	}



	.checkbox-row{
		text-align: right;
		label{
			float: none;
			vertical-align: middle;
			display: inline;
			padding-right: 1em;
		}

		input{
			width: auto;
			vertical-align: middle;
			float: none;
		} 

	}

	.small-text-input{
		@extend .cf;
		label{
			float: left;
			
		}
		input{
			float: right;
			 max-width: 30%;
		}
	}

	.form_title{
		font-size: 20px;
		background-color: $blue;
		color: $white;
		font-weight: normal;
		padding: .25em .5em;
		margin: 0 0 1em 0;
	}

	.section_holder{
		background-color: #efefef;
		padding-bottom: 1em;
		// margin-bottom: 4px;
		
		@extend .cf;
	}
	.privacy{
		font-style: italic;
		color: $grey2;
		font-size: 0.875em;
	}

	.error{
		input,
		select{
			border: 1px solid $red;
			box-shadow: 0 0 12px  tint( $red , 50) ;
		}
	}

}

	/* Buttons */
	.instruct-form .instruct-input ,
	.instruct-buttons .instruct-input ,
	.form-row .instruct-input {

		margin-bottom: .5em;	

		display: block;
		width: 100%;
		margin-bottom: .2em;

		@include bp(  $medium ){
			margin-left:  1%;
			float: right;
			width: auto;
		}

		&.last{
			margin-right: 0;
		}


		background: $calcButton; /* Old browsers */
		background: -webkit-linear-gradient(top, $calcButton 0%, $calcButtonHighlight 100%); /* Chrome 10+, Safari 5.1+ */
		background:   linear-gradient(to bottom, $calcButton 0%, $calcButtonHighlight 100%); /* W3C */
		border: none;
		border-bottom: 3px solid $calcButtonHighlight2;
		border-radius: 2px;
		color: #fff;
		display: inline-block;
		padding: 11px 24px 10px;
		text-decoration: none;

		cursor: pointer;

		&:hover, &:focus{

			background: $calcButtonHighlight; /* Old browsers */
			background: -webkit-linear-gradient(top, $calcButtonHighlight 0%, $calcButton 100%); /* Chrome 10+, Safari 5.1+ */
			background:   linear-gradient(to bottom, $calcButtonHighlight 0%, $calcButton 100%); /* W3C */
			outline: none;	
		}

		&:active{
			background: $calcButtonHighlight; /* Old browsers */
			background: -webkit-linear-gradient(top, $calcButtonHighlight 0%, $calcButton 100%); /* Chrome 10+, Safari 5.1+ */
			background:   linear-gradient(to bottom, $calcButtonHighlight 0%, $calcButton 100%); /* W3C */
			border: none;
			border-top: 3px solid $calcButtonHighlight2;
			padding: 10px 24px 11px;	
		}
	}

	.instruct-buttons{


		margin: 1em 0;

		@extend .cf;
	}

.entry-content{
	max-width: 620px !important;
	padding-left:  0 !important;
	padding-right: 0 !important;

	.calc-errors{
		h3{
			background-color: #e32828;
			color: #fff;
			padding: 0.25em;
			margin-top: 0;

		}
		ul{
			padding: 0.25em 1em;
		}
		li{
			margin-left: 1em;
			list-style-type: none;

			&:before{
				content: 'x';
				color: #e32828;
				padding-right: 0.5em;
			}
		}
	}
}
