
table{
  
  .heading-row{
    background-color: $blue;
    color: $white ;
    padding:  .5em 1em;

  }

  td{
  	// font-size: 16px;
  	padding: .25em .5em;
    border-top: 1px solid #ededed;
  }

  .amount{
  	text-align: right;
    font-family: monospace;

    border-left: 1px solid #ededed;
    width: 6em;
  }

  .property-price-row{
    td{
      font-weight: bold;
      color: $blue;
      border: none;
    }
  }

  .discount-total{
    td{
      color: $red;
    }
  }

  .major-total-row{
      td{

        font-weight: bold;
      }
  }
  .total-row{
      

      td{
        border-top   : 2px solid $blue ;
        border-bottom: 2px solid $blue ;
        text-align: right;

      }
  }
  .disb-optional{
    td{
      color: $red;
      font-style: italic;
    }
  }
}

.instruct-buttons{
  margin-bottom: 1em
}
form{
  display: inline;
}
.possible-disbursements{
  margin: 1em 0; 
}