//$smallBreakpoint 	:	320px;
//$mediumBreakpoint 	:	540px;
//$largeBreakpoint 	:	960px;
//$fullWidthBreakpoint :	1090px;

$small: 		 319;
// bulk of smartphones in this zone
// -  smiple 1 column normal scrolling 'pipe' of content
// - dropdown / fixed menu nav
// top limit of most smartphones, s3 is 640 wide in laandscape
$medium: 		 641;

// tablets and desktop browsers from here on up
// get the fullscreen slide bits
// nav fixed with icons visible ar all times

$large: 		 801;
$fullWidth:  1168;




$teal: 		#00c5b4;

$cream: #f1eee9;
$darkCream:  #d0c4b4;
$tan: 		 #998a76;

$white: 	#ffffff;

$grey2: #52524d;
$grey1: #484845;
$black: #030304;

$blue: #1495DD;
$red: #e32828;

$QS:  'Quicksand', Verdana , sans-serif;
$PT:  'PT Sans', Verdana , sans-serif;

$PP:  'Pencil Pete W00 Reg', Helvetica, Arial, sans-serif;

$headerHeight: 87px; 

